<section class="container habilidades">
  <h3>Habilidades</h3>
  <h4>Duras:</h4>
  <ul id="habilidades-duras">
    <li>Español<span class="habilidad-calificacion">Natal</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w100"></div>
      </div>
    </div>
    <li>Ingles <span class="habilidad-calificacion">Avanzado</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w90"></div>
      </div>
    </div>
    <li>
      Html, Javascript y CSS<span class="habilidad-calificacion">Buena</span>
    </li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w80"></div>
      </div>
    </div>
    <li>Diseño de sistemas<span class="habilidad-calificacion">Media</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-medium w50"></div>
      </div>
    </div>
    <li>Java + Springboot<span class="habilidad-calificacion">Buena</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w70"></div>
      </div>
    </div>

    <li>MySQL<span class="habilidad-calificacion">Buena</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w80"></div>
      </div>
    </div>
    <li>Testing<span class="habilidad-calificacion">Media</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-medium w60"></div>
      </div>
    </div>
  </ul>
  <h4>Blandas:</h4>
  <ul id="habilidades-blandas">
    <li>Trabajo en equipo<span class="habilidad-calificacion">Buena</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w80"></div>
      </div>
    </div>
    <li>
      Resolucion de problemas<span class="habilidad-calificacion">Alto</span>
    </li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w90"></div>
      </div>
    </div>
    <li>Creatividad<span class="habilidad-calificacion">Media</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-medium w60"></div>
      </div>
    </div>
    <li>Positivismo<span class="habilidad-calificacion">Alto</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w90"></div>
      </div>
    </div>
    <li>Experiencia<span class="habilidad-calificacion">Poca</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-bad w20"></div>
      </div>
    </div>
    <li>
      Atencion a detalles<span class="habilidad-calificacion">Buena</span>
    </li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w80"></div>
      </div>
    </div>
    <li>Liderazgo<span class="habilidad-calificacion">Poca</span></li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-bad w40"></div>
      </div>
    </div>
    <li>
      Deseo de escuchar y aprender<span class="habilidad-calificacion"
        >Muy Alto</span
      >
    </li>
    <div class="stat-bar">
      <div class="level-progress">
        <div class="level-progress-indicator-good w100"></div>
      </div>
    </div>
  </ul>
</section>
