<section class="container habilidades">
  <h3>Habilidades</h3>
  <h4>Duras:</h4>
  <ul id="habilidades-duras">
    <li *ngFor="let habilidadD of misHabilidadesDuras">
      {{ habilidadD.nombre
      }}<span class="habilidad-calificacion">{{ habilidadD.nivel }}</span>
      <div class="stat-bar">
        <div class="level-progress">
          <div [ngClass]="habilidadD.stat_bar"></div>
        </div>
      </div>
    </li>
  </ul>
  <h4>Blandas:</h4>
  <ul id="habilidades-blandas">
    <li *ngFor="let habilidadB of misHabilidadesBlandas">
      {{ habilidadB.nombre
      }}<span class="habilidad-calificacion">{{ habilidadB.nivel }}</span>
      <div class="stat-bar">
        <div class="level-progress">
          <div [ngClass]="habilidadB.stat_bar"></div>
        </div>
      </div>
    </li>
  </ul>
</section>
