<section class="container habilidades">
  <h3>Habilidades</h3>
  <button
    type="button"
    class="btn btn-add"
    [ngClass]="addStatus ? 'btn-warning' : 'btn-success'"
    (click)="showAddForm()"
    *ngIf="isAdmin"
  >
    {{ addText }}
  </button>
  <div *ngIf="addStatus" class="mt-2 container form-container">
    <h4>Agregar Habilidad</h4>
    <form
      [formGroup]="form"
      class="m-2"
      (ngSubmit)="agregarHabFormulario($event)"
    >
      <div class="mb-3">
        <label for="habilidad-d-form" class="form-label">Habilidad Dura</label>
        <input
          type="radio"
          name="habilidad"
          formControlName="habilidad"
          value="habilidades_duras"
          class="radio-hab"
          id="habilidad-d-form"
          aria-describedby="habilidad-d-Help"
        />
      </div>
      <div class="mb-3">
        <label for="habilidad-b-form" class="form-label"
          >Habilidad Blanda</label
        >
        <input
          type="radio"
          name="habilidad"
          formControlName="habilidad"
          value="habilidades_blandas"
          class="radio-hab"
          id="habilidad-b-form"
          aria-describedby="habilidad-b-Help"
        />
      </div>
      <div class="mb-3">
        <label for="nombre-form" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': nombre?.errors && nombre?.touched,
            'is-valid': !nombre?.errors && nombre?.touched
          }"
          id="nombre-form"
          formControlName="nombre"
        />
        <div *ngIf="nombre?.errors && nombre?.touched">
          <p *ngIf="nombre?.hasError('required')" class="text-danger">
            El nombre es requerido.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="nivel-form" class="form-label">Nivel</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': nivel?.errors && nivel?.touched,
            'is-valid': !nivel?.errors && nivel?.touched
          }"
          id="nivel-form"
          formControlName="nivel"
        />
        <div *ngIf="nivel?.errors && nivel?.touched">
          <p *ngIf="nivel?.hasError('required')" class="text-danger">
            El nivel es requerido.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="stat_bar-form" class="form-label"
          >Relleno de la barra</label
        >
        <select
          id="stat_bar"
          name="stat_bar"
          class="radio-hab"
          formControlName="stat_bar"
        >
          <option value="0">0%</option>
          <option value="10">10%</option>
          <option value="20">20%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
          <option value="60">60%</option>
          <option value="70">70%</option>
          <option value="80">80%</option>
          <option value="90">90%</option>
          <option value="100">100%</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
  <h4>Duras:</h4>
  <ul id="habilidades-duras">
    <li *ngFor="let habilidadD of misHabilidadesDuras">
      <div class="habilidad-btn-container">
        <div
          class="container"
          [ngClass]="{
            'habilidad-container-usr': !isAdmin,
            'habilidad-container-adm': isAdmin
          }"
        >
          {{ habilidadD.nombre
          }}<span class="habilidad-calificacion">{{ habilidadD.nivel }}</span>
          <div class="stat-bar">
            <div class="level-progress">
              <div [ngClass]="habilidadD.stat_bar"></div>
            </div>
          </div>
        </div>

        <div class="container-buttons" *ngIf="isAdmin">
          <button
            type="button"
            class="btn btn-add"
            [ngClass]="{
              'btn-warning': editFormIdD == [habilidadD.id],
              'btn-primary': editFormIdD == 0,
              'btn-secondary':
                editFormIdD !== 0 && editFormIdD !== [habilidadD.id]
            }"
            (click)="showEditHabilidad([habilidadD.id], 'D')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square img-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="btn btn-add"
            [ngClass]="{
              'btn-warning': deleteIdD == [habilidadD.id],
              'btn-danger': deleteIdD == 0,
              'btn-secondary': deleteIdD !== 0 && deleteIdD !== [habilidadD.id]
            }"
            (click)="showDeleteHabilidad([habilidadD.id], 'D')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash img-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div *ngIf="editFormIdD == [habilidadD.id]" class="form-container">
        <h4>Editar Habilidad Dura</h4>
        <form
          [formGroup]="form"
          class="m-2"
          (ngSubmit)="editarHabFormulario($event, 'D')"
        >
          <div class="mb-3">
            <label for="nombre-form" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nombre?.errors && nombre?.touched,
                'is-valid': !nombre?.errors && nombre?.touched
              }"
              id="nombre-form"
              formControlName="nombre"
            />
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="text-danger">
                El nombre es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="nivel-form" class="form-label">Nivel</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nivel?.errors && nivel?.touched,
                'is-valid': !nivel?.errors && nivel?.touched
              }"
              id="nivel-form"
              formControlName="nivel"
            />
            <div *ngIf="nivel?.errors && nivel?.touched">
              <p *ngIf="nivel?.hasError('required')" class="text-danger">
                El nivel es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="stat_bar-form" class="form-label"
              >Relleno de la barra</label
            >
            <select
              id="stat_bar"
              name="stat_bar"
              class="radio-hab"
              formControlName="stat_bar"
            >
              <option value="0">0%</option>
              <option value="10">10%</option>
              <option value="20">20%</option>
              <option value="30">30%</option>
              <option value="40">40%</option>
              <option value="50">50%</option>
              <option value="60">60%</option>
              <option value="70">70%</option>
              <option value="80">80%</option>
              <option value="90">90%</option>
              <option value="100">100%</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
      <div
        class="container delete-container"
        *ngIf="deleteIdD == [habilidadD.id]"
      >
        <h4>¿Seguro que desea eliminar?</h4>
        <button
          type="button"
          class="btn btn-danger delete-btn"
          (click)="borrarHab([habilidadD.id], 'D')"
        >
          Eliminar
        </button>
      </div>
    </li>
  </ul>
  <h4>Blandas:</h4>
  <ul id="habilidades-blandas">
    <li *ngFor="let habilidadB of misHabilidadesBlandas">
      <div class="habilidad-btn-container">
        <div
          class="container"
          [ngClass]="{
            'habilidad-container-usr': !isAdmin,
            'habilidad-container-adm': isAdmin
          }"
        >
          {{ habilidadB.nombre
          }}<span class="habilidad-calificacion">{{ habilidadB.nivel }}</span>
          <div class="stat-bar">
            <div class="level-progress">
              <div [ngClass]="habilidadB.stat_bar"></div>
            </div>
          </div>
        </div>
        <div class="container-buttons" *ngIf="isAdmin">
          <button
            type="button"
            class="btn btn-add"
            [ngClass]="{
              'btn-warning': editFormIdB == [habilidadB.id],
              'btn-primary': editFormIdB == 0,
              'btn-secondary':
                editFormIdB !== 0 && editFormIdB !== [habilidadB.id]
            }"
            (click)="showEditHabilidad([habilidadB.id], 'B')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square img-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="btn btn-add"
            [ngClass]="{
              'btn-warning': deleteIdB == [habilidadB.id],
              'btn-danger': deleteIdB == 0,
              'btn-secondary': deleteIdB !== 0 && deleteIdB !== [habilidadB.id]
            }"
            (click)="showDeleteHabilidad([habilidadB.id], 'B')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash img-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div *ngIf="editFormIdB == [habilidadB.id]" class="form-container">
        <h4>Editar Habilidad Blanda</h4>
        <form
          [formGroup]="form"
          class="m-2"
          (ngSubmit)="editarHabFormulario($event, 'B')"
        >
          <div class="mb-3">
            <label for="nombre-form" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nombre?.errors && nombre?.touched,
                'is-valid': !nombre?.errors && nombre?.touched
              }"
              id="nombre-form"
              formControlName="nombre"
            />
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="text-danger">
                El nombre es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="nivel-form" class="form-label">Nivel</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nivel?.errors && nivel?.touched,
                'is-valid': !nivel?.errors && nivel?.touched
              }"
              id="nivel-form"
              formControlName="nivel"
            />
            <div *ngIf="nivel?.errors && nivel?.touched">
              <p *ngIf="nivel?.hasError('required')" class="text-danger">
                El nivel es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="stat_bar-form" class="form-label"
              >Relleno de la barra</label
            >
            <select
              id="stat_bar"
              name="stat_bar"
              class="radio-hab"
              formControlName="stat_bar"
            >
              <option value="0">0%</option>
              <option value="10">10%</option>
              <option value="20">20%</option>
              <option value="30">30%</option>
              <option value="40">40%</option>
              <option value="50">50%</option>
              <option value="60">60%</option>
              <option value="70">70%</option>
              <option value="80">80%</option>
              <option value="90">90%</option>
              <option value="100">100%</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
      <div
        class="container delete-container"
        *ngIf="deleteIdB == [habilidadB.id]"
      >
        <h4>¿Seguro que desea eliminar?</h4>
        <button
          type="button"
          class="btn btn-danger delete-btn"
          (click)="borrarHab([habilidadB.id], 'B')"
        >
          Eliminar
        </button>
      </div>
    </li>
  </ul>
</section>
