<section class="container educacion">
  <h3>Educación</h3>
  <ul id="educacion">
    <li>
      <h4>
        <img
          alt="Arg Prog Logo"
          src="../assets/APLogo.png"
          class="edulogo argproglogo"
        />
        Argentina Programa: Primera etapa<span>dic.-2021</span>
      </h4>
      <div>Conocimientos en:</div>
      <ul>
        <li>Fundamentos de la programación</li>
        <li>Programación imperativa y estructuras de datos de JavaScript</li>
        <li>Programación con Objetos, Ruby</li>
      </ul>
    </li>
    <li>
      <h4>
        <img alt="Udemy Logo" src="../assets/Udemy_logo.png" class="edulogo" />
        The Complete Front-End Web Development Course!<span>feb.-2022</span>
      </h4>
      <div>Conocimientos en:</div>
      <ul>
        <li>Web development basics with HTML</li>
        <li>Cascading style sheets (CSS)</li>
        <li>JavaScript programming</li>
        <li>jQuery JavaScript library</li>
        <li>Bootstrap framework</li>
      </ul>
    </li>
    <li>
      <h4>
        <img
          alt="Educación IT Logo"
          src="../assets/EducacionIT_logo.png"
          class="edulogo"
        />
        Educacion IT: software Tester QA, Testing<span>nov.-2021</span>
      </h4>
      <div>Conocimientos en:</div>
      <ul>
        <li>Jira</li>
        <li>TestLink</li>
        <li>Apache JMeter</li>
        <li>Selenium IDE</li>
        <li>Conceptos de calidad</li>
        <li>Casos de prueba</li>
        <li>Defectos</li>
        <li>Conceptos de automatización</li>
        <li>Pruebas no funcionales</li>
        <li>visión del QA en la gestion de proyectos</li>
      </ul>
    </li>
  </ul>
</section>
