<section class="container proyectos">
  <h3>Proyectos</h3>
  <button
    class="btn btn-primary btn-github"
    (click)="
      newTab(
        'https://github.com/diegui98?tab=repositories&q=portfolio-project&type=&language=&sort='
      )
    "
  >
    Ver en Github
  </button>
  <button
    class="btn btn-github"
    [ngClass]="{
      'btn-warning': showImg == [-1],
      'btn-info': showImg !== [-1]
    }"
    (click)="imagenesToggle([-1])"
  >
    {{ viewAll }}
  </button>
  <div class="container addimg-buttons-container" *ngIf="isAdmin">
    <button
      type="button"
      class="btn btn-add btn-add-m"
      [ngClass]="addStatus ? 'btn-warning' : 'btn-success'"
      (click)="showAddForm()"
    >
      {{ addText }}
    </button>
  </div>
  <div *ngIf="addStatus" class="mt-2 container form-container">
    <h4>Agregar Proyecto</h4>
    <form
      [formGroup]="form"
      class="m-2"
      (ngSubmit)="agregarProyectoFormulario($event)"
    >
      <div class="mb-3">
        <label for="nombre-form" class="form-label">Nombre del proyecto</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': nombre?.errors && nombre?.touched,
            'is-valid': !nombre?.errors && nombre?.touched
          }"
          id="nombre-form"
          formControlName="nombre"
        />
        <div *ngIf="nombre?.errors && nombre?.touched">
          <p *ngIf="nombre?.hasError('required')" class="text-danger">
            El nombre es requerido.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcion-form" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': descripcion?.errors && descripcion?.touched,
            'is-valid': !descripcion?.errors && descripcion?.touched
          }"
          id="descripcion-form"
          formControlName="descripcion"
        />
        <div *ngIf="descripcion?.errors && descripcion?.touched">
          <p *ngIf="descripcion?.hasError('required')" class="text-danger">
            La descripcion es requerida.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="imagen-form" class="form-label">Imagen</label>

        <input
          type="file"
          class="form-control file-upload"
          [ngClass]="{
            'is-invalid': imagen?.errors && imagen?.touched,
            'is-valid': !imagen?.errors && imagen?.touched
          }"
          id="imagen-form"
          formControlName="imagen"
          (change)="findImgName($event)"
        />
        <div *ngIf="imagen?.errors && imagen?.touched">
          <p *ngIf="imagen?.hasError('required')" class="text-danger">
            La imagen es requerida.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="tecnologiasUsadas-form" class="form-label"
          >Tecnologias Usadas</label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              tecnologiasUsadas?.errors && tecnologiasUsadas?.touched,
            'is-valid': !tecnologiasUsadas?.errors && tecnologiasUsadas?.touched
          }"
          id="tecnologiasUsadas-form"
          formControlName="tecnologiasUsadas"
        />
        <div *ngIf="tecnologiasUsadas?.errors && tecnologiasUsadas?.touched">
          <p
            *ngIf="tecnologiasUsadas?.hasError('required')"
            class="text-danger"
          >
            Las Tecnologias usadas son requeridas.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="caracteristicasNotables-form" class="form-label"
          >Caracteristicas Notables</label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              caracteristicasNotables?.errors &&
              caracteristicasNotables?.touched,
            'is-valid':
              !caracteristicasNotables?.errors &&
              caracteristicasNotables?.touched
          }"
          id="caracteristicasNotables-form"
          formControlName="caracteristicasNotables"
        />
        <div
          *ngIf="
            caracteristicasNotables?.errors && caracteristicasNotables?.touched
          "
        >
          <p
            *ngIf="caracteristicasNotables?.hasError('required')"
            class="text-danger"
          >
            Las Caracteristicas Notables son requeridas.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="github-form" class="form-label">GitHub Link</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': github?.errors && github?.touched,
            'is-valid': !github?.errors && github?.touched
          }"
          id="github-form"
          formControlName="github"
        />
        <div *ngIf="github?.errors && github?.touched">
          <p *ngIf="github?.hasError('required')" class="text-danger">
            El link de GitHub es requerido.
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
  <ul>
    <li *ngFor="let proyecto of misProyectos">
      <button
        type="button"
        class="btn btn-view"
        [ngClass]="{
          'btn-warning': showImg == [proyecto.id],
          'btn-info': showImg == 0,
          'btn-secondary': showImg !== 0 && showImg !== [proyecto.id]
        }"
        (click)="imagenesToggle([proyecto.id])"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-eye img-btn"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
          />
          <path
            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
          />
        </svg>
      </button>
      <button class="btn btn-dark btn-view" (click)="newTab(proyecto.github)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-github img-btn"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          />
        </svg>
      </button>
      <span id="proyectoNombre">{{ proyecto.nombre }}</span>
      <div class="container-buttons" *ngIf="isAdmin">
        <button
          type="button"
          class="btn btn-add"
          [ngClass]="{
            'btn-warning': editFormId == [proyecto.id],
            'btn-primary': editFormId == 0,
            'btn-secondary': editFormId !== 0 && editFormId !== [proyecto.id]
          }"
          (click)="showEditProyecto([proyecto.id])"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square img-btn"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>
        <button
          type="button"
          class="btn btn-add"
          [ngClass]="{
            'btn-warning': deleteId == [proyecto.id],
            'btn-danger': deleteId == 0,
            'btn-secondary': deleteId !== 0 && deleteId !== [proyecto.id]
          }"
          (click)="showDeleteProyecto([proyecto.id])"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash img-btn"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
      </div>

      <p>
        {{ proyecto.descripcion }}
      </p>
      <div
        class="container"
        *ngIf="showImg == [proyecto.id] || showImg == [-1]"
      >
        <div class="row">
          <div class="container img-container col-6">
            <img
              alt="Img Proyecto"
              [src]="proyecto.imagen"
              class="proyectoimg"
            />
          </div>
          <div class="col-6">
            <div class="container">
              <div class="row">
                <div class="col img-text">
                  <h4>Teconologias Usadas</h4>
                  <p>
                    {{ proyecto.tecnologiasUsadas }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col img-text">
                  <h4>Caracteristicas Notables</h4>
                  <p>
                    {{ proyecto.caracteristicasNotables }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="editFormId == [proyecto.id]"
        class="mt-2 container form-container"
      >
        <h4>Editar Proyecto</h4>
        <form
          [formGroup]="form"
          class="m-2"
          (ngSubmit)="editarProyectoFormulario($event)"
        >
          <div class="mb-3">
            <label for="nombre-form" class="form-label"
              >Nombre del proyecto</label
            >
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nombre?.errors && nombre?.touched,
                'is-valid': !nombre?.errors && nombre?.touched
              }"
              id="nombre-form"
              formControlName="nombre"
            />
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="text-danger">
                El nombre es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="descripcion-form" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': descripcion?.errors && descripcion?.touched,
                'is-valid': !descripcion?.errors && descripcion?.touched
              }"
              id="descripcion-form"
              formControlName="descripcion"
            />
            <div *ngIf="descripcion?.errors && descripcion?.touched">
              <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                La descripcion es requerida.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="tecnologiasUsadas-form" class="form-label"
              >Tecnologias Usadas</label
            >
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  tecnologiasUsadas?.errors && tecnologiasUsadas?.touched,
                'is-valid':
                  !tecnologiasUsadas?.errors && tecnologiasUsadas?.touched
              }"
              id="tecnologiasUsadas-form"
              formControlName="tecnologiasUsadas"
            />
            <div
              *ngIf="tecnologiasUsadas?.errors && tecnologiasUsadas?.touched"
            >
              <p
                *ngIf="tecnologiasUsadas?.hasError('required')"
                class="text-danger"
              >
                Las Tecnologias usadas son requeridas.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="caracteristicasNotables-form" class="form-label"
              >Caracteristicas Notables</label
            >
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  caracteristicasNotables?.errors &&
                  caracteristicasNotables?.touched,
                'is-valid':
                  !caracteristicasNotables?.errors &&
                  caracteristicasNotables?.touched
              }"
              id="caracteristicasNotables-form"
              formControlName="caracteristicasNotables"
            />
            <div
              *ngIf="
                caracteristicasNotables?.errors &&
                caracteristicasNotables?.touched
              "
            >
              <p
                *ngIf="caracteristicasNotables?.hasError('required')"
                class="text-danger"
              >
                Las Caracteristicas Notables son requeridas.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="github-form" class="form-label">GitHub Link</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': github?.errors && github?.touched,
                'is-valid': !github?.errors && github?.touched
              }"
              id="github-form"
              formControlName="github"
            />
            <div *ngIf="github?.errors && github?.touched">
              <p *ngIf="github?.hasError('required')" class="text-danger">
                El link de GitHub es requerido.
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
      <div class="container delete-container" *ngIf="deleteId == [proyecto.id]">
        <h4>¿Seguro que desea eliminar?</h4>
        <button
          type="button"
          class="btn btn-danger delete-btn"
          (click)="borrarProyecto([proyecto.id])"
        >
          Eliminar
        </button>
      </div>
    </li>
  </ul>
</section>
