<app-menu></app-menu>
<div class="container text-center">
  <div class="greeting col-10 col-sm-6" *ngIf="nombreUsuario; else loggedOut">
    <h1>Bienvenido</h1>
    <h1>{{ nombreUsuario }} !</h1>
    <div class="container text-center greeting-btn">
      <button class="btn-22" routerLink="/portfolio">
        <span>Ver Portfolio</span>
      </button>
    </div>
  </div>
  <ng-template #loggedOut>
    <div class="no-greeting">
      <h2>Bienvenido, por favor inicia sesión</h2>
    </div></ng-template
  >
</div>
