<section class="container educacion">
  <h3>Experiencia</h3>
  <span id="proximamente" *ngIf="experienciaList == ''"
    >Próximamente
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-cone-striped"
      viewBox="0 0 16 16"
    >
      <path
        d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"
      />
    </svg>
  </span>

  <button
    type="button"
    class="btn btn-add btn-add-m"
    [ngClass]="addStatus ? 'btn-warning' : 'btn-success'"
    (click)="showAddForm()"
    *ngIf="isAdmin"
  >
    {{ addText }}
  </button>
  <div *ngIf="addStatus" class="mt-2 container form-container">
    <h4>Agregar experiencia</h4>
    <form
      [formGroup]="form"
      class="m-2"
      (ngSubmit)="agregarExpFormulario($event)"
    >
      <div class="mb-3">
        <label for="nombre-form" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': nombre?.errors && nombre?.touched,
            'is-valid': !nombre?.errors && nombre?.touched
          }"
          id="nombre-form"
          aria-describedby="nombreHelp"
          formControlName="nombre"
        />
        <div *ngIf="nombre?.errors && nombre?.touched">
          <p *ngIf="nombre?.hasError('required')" class="text-danger">
            El nombre es requerido.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="imagen-form" class="form-label">Imagen</label>
        <input
          type="file"
          class="form-control file-upload"
          [ngClass]="{
            'is-invalid': imagen?.errors && imagen?.touched,
            'is-valid': !imagen?.errors && imagen?.touched
          }"
          id="imagen-form"
          formControlName="imagen"
          (change)="findImgName($event)"
        />
        <div *ngIf="imagen?.errors && imagen?.touched">
          <p *ngIf="imagen?.hasError('required')" class="text-danger">
            La imagen es requerida.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="fecha_fin-form" class="form-label"
          >Fecha de finalización</label
        >
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': fecha_fin?.errors && fecha_fin?.touched,
            'is-valid': !fecha_fin?.errors && fecha_fin?.touched
          }"
          id="fecha_fin-form"
          formControlName="fecha_fin"
        />
        <div *ngIf="fecha_fin?.errors && fecha_fin?.touched">
          <p *ngIf="fecha_fin?.hasError('required')" class="text-danger">
            La fecha es requerida.
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcion-form" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': descripcion?.errors && descripcion?.touched,
            'is-valid': !descripcion?.errors && descripcion?.touched
          }"
          id="descripcion-form"
          formControlName="descripcion"
        />
        <div *ngIf="descripcion?.errors && descripcion?.touched">
          <p *ngIf="descripcion?.hasError('required')" class="text-danger">
            La Descripción es requerida.
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>

  <ul id="experiencia">
    <li *ngFor="let experiencia of experienciaList" class="exp-li">
      <div class="container-tit-but">
        <h4 class="experiencia-titulo">
          <img alt="Logo" [src]="experiencia.imagen" class="edulogo" />
          {{ experiencia.nombre }}
          <span>{{ experiencia.fecha_fin }}</span>
        </h4>
        <div class="container-buttons" *ngIf="isAdmin">
          <button
            type="button"
            class="btn btn-add"
            [ngClass]="{
              'btn-warning': editFormId == [experiencia.id],
              'btn-primary': editFormId == 0,
              'btn-secondary':
                editFormId !== 0 && editFormId !== [experiencia.id]
            }"
            (click)="showEditExperiencia([experiencia])"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square img-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="btn btn-add"
            [ngClass]="{
              'btn-warning': deleteId == [experiencia.id],
              'btn-danger': deleteId == 0,
              'btn-secondary': deleteId !== 0 && deleteId !== [experiencia.id]
            }"
            (click)="showDeleteExperiencia([experiencia.id])"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash img-btn"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="exp-descripcion">
        {{ experiencia.descripcion }}
      </div>
      <div class="form-container" *ngIf="editFormId == [experiencia.id]">
        <h4 class="titulo-form">Editar experiencia</h4>
        <form
          [formGroup]="form"
          class="m-2"
          (ngSubmit)="editarExpFormulario($event)"
        >
          <div class="mb-3">
            <label for="nombre-form" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': nombre?.errors && nombre?.touched,
                'is-valid': !nombre?.errors && nombre?.touched
              }"
              id="experiencia-form"
              aria-describedby="experienciaHelp"
              formControlName="experiencia"
            />
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="text-danger">
                El nombre es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="fecha_fin-form" class="form-label"
              >Fecha de finalización</label
            >
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': fecha_fin?.errors && fecha_fin?.touched,
                'is-valid': !fecha_fin?.errors && fecha_fin?.touched
              }"
              id="fecha_fin-form"
              formControlName="fecha_fin"
            />
            <div *ngIf="fecha_fin?.errors && fecha_fin?.touched">
              <p *ngIf="fecha_fin?.hasError('required')" class="text-danger">
                La fecha es requerida.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="descripcion-form" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid': descripcion?.errors && descripcion?.touched,
                'is-valid': !descripcion?.errors && descripcion?.touched
              }"
              id="descripcion-form"
              formControlName="descripcion"
            />
            <div *ngIf="descripcion?.errors && descripcion?.touched">
              <p *ngIf="descripcion?.hasError('required')" class="text-danger">
                La Descripción es requerida.
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
      <div
        class="container delete-container"
        *ngIf="deleteId == [experiencia.id]"
      >
        <h4>¿Seguro que desea eliminar?</h4>
        <button
          type="button"
          class="btn btn-danger delete-btn"
          (click)="borrarExperiencia([experiencia.id])"
        >
          Eliminar
        </button>
      </div>
    </li>
  </ul>
</section>
